/*==============GENERAL CSS STYLE================*/

/*	Set the main body of the HTML page style */
body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Set all the container classes HTML style page */
.container{
  width: 80%;
  margin: auto;
  /* When content overflow element keep the excess hidden */
  overflow: hidden;
}

/* Set the style for the list */
ul{
  margin: 0;
  padding: 0;
}

/*==============END GENERAL CSS STYLE================*/


/*==============HEADER CSS STYLE================*/

/* Set main header style */
header{
  background: #353637;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #32a0c2 3px solid;
}

/* Set any anchor within a header tag style */
header a{
  color: #ffffff;
  text-decoration: none;
  /* Set the text to all be uppercase */
  text-transform: uppercase;
  font-size: 16px;
}

/* Set any li within header tag style */
header li{
  /*Float element to move towards the left side */
  float: left;
  /* Display element as inline */
  display: inline;
  padding: 0 20px 0 20px;
}

/* Set the branding id style */
header #branding{
  float: left;
}

/* Set the branding header style */
header #branding h1{
  margin: 0;
}

/* Set header navigation */
header nav{
  float: right;
  margin-top: 10px;
}

/* Set header highlight and current class style*/
header .highlight, header .current a{
  color: #32a0c2;
  font-weight: bold;
}

/* Set header anchor hover style */
header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/*==============END HEADER CSS STYLE================*/

/*==============SHOWCASE CSS STYLE================*/

/* Set Showcase id style */
#showcase {
  min-height: 400px;
  background:url('https://i.pinimg.com/originals/36/7b/96/367b968d10093eabdf908d80bf340c88.png') no-repeat center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

/* Set the header for showcase ID */
#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

/* Set the paragraph for showcase ID */
#showcase p{
  font-size: 20px;
}

/*==============END SHOWCASE CSS STYLE================*/

/*==============BOX CSS STYLE================*/

/* Set the box class format */
#boxes{
  margin-top: 20px;
}

/* Set box class with box id format*/

#boxes .box{
  float:left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

/*==============END BOX CSS STYLE================*/

/*==============NEWSLETTER CSS STYLE================*/

/* Set newsletter id style */
#newsletter{
  padding: 20px;
  color: #ffffff;
  background: #353637;
}

/* Set newsletter header style */
#newsletter h1{
  padding: 4px;
  float: left;
}

/* Set newsletter form style */
#newsletter form{
  float: right;
  width: 200px;
  margin-top: 20px;
}

/* Set newsletter input style */
#newsletter input[type="email"]{
  margin-top: 25px;
  margin-left: 250px;
  padding-top: 2px;
  padding-right: 4px;
  height: 15px;
  width: 300px;
}


/* Set the class button style */
.button_1{
  margin-left: 10px;
  height: 25px;
  background: #32a0c2;
  border: 0;
  font-style: bold;
  padding-left: 20px;
  padding-right: 20px;
  color: #353637;
}


/*==============END NEWSLETTER CSS STYLE================*/

/*==============ABOUT DARK CSS STYLE================*/

.dark{
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*==============END ABOUT DARK CSS STYLE================*/

/*==============FOOTER CSS STYLE================*/

/* Set footer style */
footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #32a0c2;
  text-align: center;
}

/*==============END FOOTER CSS STYLE================*/

/*==============ADJUSTING FOR DIFFERENT SCREEN SIZE================*/

/* @media defines different rules for different size */
/* max-width is 1024 px */
@media(max-width: 1024px){
  /* Keep these the same */
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,

  /* Change class and id of boxes style sheet for different resolution */
  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
  }

  /* Resizing for article */
  article#main-col,
  
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  /* Change the amount of padding-bottom for header */
  header{
    padding-bottom: 20px;
  }

  /* Change showcase header margin top */
  #showcase h1{
    margin-top: 40px;
  }

  /* Change the newsletter button style */
  #newsletter button {
    display: block;
    width: 100%;
  }

  /* Change the input box style */
  #newsletter form input[type="email"],
  .contact input,
  .contact textarea,
  .contact label{
    width: 100%;
    margin-bottom: 5px;
  }
}

/*==============END ADJUSTING FOR DIFFERENT SCREEN SIZE================*/


/*==============SIDE BAR CSS STYLE SHEET================*/

/* Set the sidebar style */
aside#sidebar{
  float: right;
  width: 30%;
  padding: 5px;
}

/* Set the text area style */
aside#sidebar input, aside#sidebar textarea {
  width: 90%;
  padding: 5px;
}

/* Set the article main coloumn */
article#main-col{
  float: left;
  width: 65%;
}

/*==============END SIDE BAR CSS STYLE SHEET================*/