body {
  padding: 0;
  margin: 0;
  background-image: url("https://thumbs.dreamstime.com/t/blue-dark-night-sky-many-stars-milky-way-space-background-56270658.jpg");
  background-size: cover;
  
  /* Sets the background to a colour 
  background: #131862;

  /** How to do gradient for different web broswer **/

  /* Old browsers */
  /*background: -moz-linear-gradient(80deg, #131862 25%, #EAE0D5 100%);

  /* FF3.6-15 */
  /*background: -webkit-linear-gradient(80deg, #131862 25%, #EAE0D5 100%);

  /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(75deg, #131862 100%, #EAE0D5 100%);

  */
}

/** Header styles **/
.header {
  background-image: url("https://c402277.ssl.cf1.rackcdn.com/photos/13148/images/hero_full/17_292_Earth_Hour_Web_Images_1600x600_v4.jpg?1487079364");
  
  height: 400px;
  background-position: center center;

}

/** Set Header or h1 setting or the title**/

h1 {
  font-family: 'Merriweather', serif;
  color: skyblue;
  font-size: 100px;
  line-height: 90px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 5%;
}

/** All the style information about the list **/

/** For the title of each list **/
h2 {
  color: skyblue;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

/** How the list formats itself **/

ul {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

/** How to format each point in the list **/

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 20px;
}

/** Style the paragraphs **/

p {
  color: #96f6ff;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

/** Style the anchors **/
a {
  color: #bfe4ff;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}